<% include ../partials/header.ejs %>

<% var winner=[];%>
<% for(let count=0;count<rounds.length;count++){ %>
 <% if(pid==rounds[count].tid && rounds[count].roundno==1 && rounds[count].matchno<5 ){ %>
 <% let temp = rounds[count].matchno - 1;%>
 <% winner[temp]= rounds[count].winner %>
 <% console.log(winner[temp]);%>
<% %>
<% }} %>


<% for(let count=0;count<rounds.length;count++){ %>
 <% if(pid==rounds[count].tid && rounds[count].roundno==1 && rounds[count].matchno==1 ){ %>
 <div>
<form class="form" method="post">
<div>Click here to ubdate bout1 for round2</div>
<input type="hidden" name="roundno" value="2">
<input type="hidden" name="matchno" value=1>
<input type="hidden" name="pname1" value="<%=winner[0]%>">
<input type="hidden" name="pname2" value="<%=winner[1]%>">
<input type="hidden" name="tid" value="<%rounds[count].tid %>">
 <button type="submit" class="btn btn-primary"><i class="fa fa-check-square-o"></i> Submit</button>
</form>
</div>

<%}}%>


<% include ../partials/footer.ejs %>